import { renderHook } from 'react-hooks-testing-library'
import %name% from './%name%'

it('should execute the %name% hook', () => {
  const { result } = renderHook(() => %name%())
  expect(result).toBe('👋')
})
