import { renderHook } from '@testing-library/react'
import %name% from './%name%'

it('should execute the %name% hook', () => {
  const { result } = renderHook(() => %name%())
  expect(result).toBe('👋')
})
