import { Meta, Canvas, Story } from '@storybook/addon-docs/blocks'
import * as stories from './%name&.story'

<Meta title="Hooks/%name&" />

# %name&

%description%

## API

```js
const output = %name%()
```

## Example

<Canvas>
  <Story story={stories.Basic} />
</Canvas>
